<%- include ('./layout.ejs') %>

    <div class="app">
        <div class="home">
            <div class="intro-header">
                <h2>Welcome to the dashboard</h2>
                <h4>Data in paginated manner</h4>
            </div>
        </div>
    </div>

    <table class="content-table">
        <thead>
            <th>Video Title</th>
            <th>Video Description</th>
            <!-- <th>Thumbnail Url</th> -->
            <th>Published At</th>
            <!-- <th>City</th> -->
            <th>Url</th>
        </thead>
        
        
            
        <tbody>
            <% for (user of users) { %>
                <% if (user) { %>
                <tr>
                    <td><%= user.videoTitle %></td>
                    <td><%= user.videoDescription %></td>
                    <!-- <td><%= user.url %></td> -->
                    <td><%= user.publishedAt %></td>
                    <!-- <td><%= user.city %></td> -->
                    <td><%= user.url %></td>
                </tr>
                <% } else { %>
                        <h3>Loading.....</h3>
                <%}%>
            <% } %>
        </tbody>
    </table>
                            
                            
                    
                    